body {
    color: var(--second-color-text);
    background-color: var(--white-text);

    font-family: var(--font-family);
    letter-spacing: -0.015em;
    font-size: 18px;
    line-height: 1.67;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
	--actionable-item: #18a0fb;
    --white-text: #ffffff;
    --main-color-text: #000000;
    --second-color-text: rgba(0, 0, 0, 0.8);
    --second-background-color: #f5f5f5;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Comfortaa", sans-serif;
}

.container {
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    width: 1440px;
    outline: 2px solid tomato;
}

/* Logo */

.logo {
    font-family: var(--second-family);
    font-size: 28px;
    line-height: 1.14;
    color: var(--main-color-text);
}

.logo:hover {
    color: var(--actionable-item);
}

/* Page header */

.page-header {
    background-color: #ccc;
}

.site-nav .link {
    color: var(--actionable-item);
    /* font-family: inherit; */
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--main-color-text);
}

/* Hero */

.hero-title {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--main-color-text);
    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
    text-align: center;
    background-color: tomato;
}

/* Section */

.section-title {
    color: var(--main-color-text);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
}

.section-description {
    font-size: 36px;
    line-height: 1.39;
}

.title-align {
    text-align: inherit;
}

/* Features и Examples */

.feature-list .title,
.work-list .title {
    color: var(--main-color-text);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}

.section-grey {
    background-color: var(--second-background-color);
}

.text {
    font-size: 36px;
    line-height: 1.39;
    text-align: center;
}

.text-align {
    text-align: inherit;
}

.hiden {
    display: none;
}

.feature-list .link {
    color: var(--actionable-item);
}

/* Button */

.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 11px 34px;
    min-width: 130px;

    color: var(--main-color-text);
    background-color: var(--white-text);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
}

.button.primary {
    background-color: var(--actionable-item);
    color: var(--white-text);
}

.button.secondary {
    border-color: var(--actionable-item);
    color: var(--actionable-item);
    background-color: var(--white-text);
}

/* Footer */

.copyright {
    font-size: 15px;
    line-height: 1.6;
}

.social > .label {
    font-size: 15px;
    line-height: 1.6;
}

.footer-list {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
    color: var(--main-color-text);
}